<li id="<%= status.id %>"  >
  <%#= <span class="avatar">
    <%= image_tag(status.user.avatar.url(:status)) %>
  <%#=</span> %>
  <span class="user">
    <%= link_to status.user.name, status.user %>
  </span>
  <br>
  <span class="timestamp text-success">
    <%= link_to "Posted #{time_ago_in_words(status.created_at)} ago.", status %>
    <% if current_user? status.user %>
      <%= link_to "", status, method: :delete, data: {confirm: "You sure?"}, class: "glyphicon glyphicon-remove text-danger" %>
    <% end %>
  </span></br></br>
  <span class="content">
    <%= best_in_place_if current_user?(status.user), status, :content, :ok_button => "ok", :ok_button_class => "btn btn-success ", :cancel_button => "X", :cancel_button_class => "btn btn-danger" %></br>
    <%= image_tag status.picture_status.url if status.picture_status? %>
  </span></br>

  </span></br>
  Comments:</br>
  <% @comments = status.comments %>
  <span id="status-comment">
    <%= render @comments %>
  </span>

  <%= form_for Comment.new , remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.hidden_field :status_id, value: status.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_area :content, placeholder: "Compose new comment..." %>
      </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</li>
</br>


<script>
  data = <%= raw User.pluck(:name).compact.to_json %>;
  $('textarea').atwho({at:"@", 'data':data});
</script>
