
<h1>All Pithes</h1>
<%= search_form_for @search, url: pitches_path do |f| %>
  <div class="search-form col-md-12">
    <div class="col-md-4">
      <div class="search_name form-group">
        <%= f.label :name_cont, "Name Or Description Or Address  "%>
        <%= f.text_field :description_or_name_or_address_cont, placeholder: "Input Pitch name or description or Address" , class: "form-control" %>
      </div>
      <div class="space">
      </div>
      <div class="search_county form-group">
        <%= f.label :county_matches, "County "%>
        <%= f.text_field :county_matches, placeholder: "input exactly name county..." , class: "form-control" %>
      </div>
      <div class="space">
      </div>
      <div class="search_by_rate form-group">
        <%= f.label :rating_gteq, "Rating between", class: "control-label"%>
        <%= f.text_field :rating_gteq, placeholder: "Rating  greater than or equal to (>=0)", class: "form-control" %>
        <%= f.label :rating_lteq, "And ", class: "control-label"%>
        <%= f.text_field :rating_lteq, placeholder: "Rating less than or equal to (<=5)." , class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class=form-group" role ="form">
        <%= f.label :cost_gteq ,"Price between", class: "control-label" %>
        <%= f.text_field :cost_gteq, placeholder: "Price greater than or equal to" , class: "form-control" %><br/>
        <%= f.label :cost_lteq ,"And", class: "control-label" %>
        <%= f.text_field :cost_lteq ,placeholder: "Price less than or equal to", class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="search-service ">
        <%= f.label :rent_shoes do %>
          <%= f.check_box :rent_shoes_true %>
          Rent_shoes
        <% end %><br/>
        <%= f.label :rent_ball ,class: "checkbox inline", class: "control-label" do %>
          <%= f.check_box :rent_ball_true %>
          <span style ="font-weight: bold;">Rent_ball </span>
        <% end %><br/>
        <%= f.label :rent_kit ,class: "checkbox inline", class: "control-label" do %>
          <%= f.check_box :rent_kit_true %>
          <span style ="font-weight: bold;">Rent_kit </span>
        <% end %><br/>
        <%= f.label :have_lamp ,class: "checkbox inline", class: "control-label" do %>
          <%= f.check_box :have_lamp_true %>
          <span style ="font-weight: bold;">Have_lamp </span>
        <% end %><br/>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
        <%= f.submit "Search", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-12">
  <ul class="pitches">
    <% @pitches.each do |pitch| %>
      <%= render pitch %>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>

