<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<div class="col-md-8 show-pitch">
  <span class ="glyphicon glyphicon-picture "></span></br>
  <%= image_tag @pitch.image.url, class: "image-show-pitch" %>
  <div><span style ="font-weight: bold;">Location on Map</span></div>
  <input type="hidden" value="<%= @pitch.lat %>" id="pitch_lat">
  <input type="hidden" value="<%= @pitch.lng %>" id="pitch_lng">
</div>
<div class="col-md-4">
  <i class="fa fa-users" aria-hidden="true"></i>Name</br>
    <%= @pitch.name %><br>
  <i class="fa fa-wikipedia-w" aria-hidden="true"></i>Description</span></br>
    <%= @pitch.description %></br>
  <span class ="glyphicon glyphicon-map-marker">County</span></br>
    <%= @pitch.county %></br>
  <span class ="glyphicon glyphicon-road">Address</span></br>
    <%= @pitch.address%></br>
  <span class ="glyphicon glyphicons-shoes"></span>haveRentShoes</br>
    <%= @pitch.rent_shoes %></br>
  <i class="fa fa-futbol-o" aria-hidden="true"></i>haveRentBall</span></br>
    <%= @pitch.rent_ball %></br>
  <i class="fa fa-arrows-v" aria-hidden="true"></i></i>haveRentkit</br>
    <%= @pitch.rent_kit %></br>
  <span class ="glyphicon glyphicon-flash">haveLampInNight</span></br>
    <%= @pitch.have_lamp %></br>
  <i class="fa fa-money" aria-hidden="true"></i>Monney/Child Pitch</br>
    <%= @pitch.cost %></br>
  <span class ="glyphicon glyphicon-phone">PhoneNumber</span></br>
    <%= @pitch.phone %></br>
  Rating : </br>
  <div>
    <% if current_user %>
     <%= rating_for @pitch, "rating",enable_half: false, half_show: false,  disable_after_rate: false, cancel: true, star: 5 %>
    <% end %>
    <i id="average_rating">average Rate : <%= @average_rating %></i></br>
    <i id="total_rater"> Total Rate :<%= @total_rater %></i>
  </div>
</div>
  <div class="col-md-12">
 <div id="googleMap" style="height:400px;"></div>
 </div>

<%#<%= image_tag(user.avatar.url(:thumb)) %>
