<div class="order">
<div class="col-md-4 order_details">
   Order Id <%= order.id %> </br>
   User Id <%= order.user_id %></br>
   Order Time <%= order.time %></br>
   Order Date <%= order.date_order %></br>
   Kit quantity Order <%= order.kit %>
   Ball quantity Order <%= order.ball %>
   Shoes quantity Order <%= order.shoes %>
   Order Status <%= order.status %>
</div>
<div class="col-md-4 col-md-4 col-md-offset-4">
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
</div>
</div>
