<h1>this is show page of child pitch id <%= @child_pitch.id %></h1>
  <div class="col-md-2">
  <table  class ="table-child-pitch" style="width:100%">
  <h2>time order </h2>
  <tr>
    <th>Time Name</th>
    <th>Time </th>
  </tr>
  <tr>
    <td>Time 1</td>
    <td>6h->8h </td>
  </tr>
  <tr>
    <td>Time 2</td>
    <td>8h->10h </td>
  </tr>
  <tr>
    <td>Time 3</td>
    <td>10h->12h </td>
  </tr>
  <tr>
    <td>Time 4</td>
    <td>12h->14h </td>
  </tr>
  <tr>
    <td>Time 5</td>
    <td>14h->16h </td>
  </tr>
  <tr>
    <td>Time 6</td>
    <td>16h->18h </td>
  </tr>
  <tr>
    <td>Time 7</td>
    <td>18h->20h </td>
  </tr>
  <tr>
    <td>Time 9</td>
    <td>20h->22h </td>
  </tr>
</table>
  </div>
  <div class="col-md-8">

  </div>
  <div class="col-md-2">
    <%= form_for Order.new do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field" style="border: 1px solid green ">
        <%= f.label :child_pitch_id %>
        <%= f.text_field :child_pitch_id, value: @child_pitch.id , class: 'form-control',
         :readonly => true %>
        <%= f.label :user_id %>
        <%= f.text_field :user_id, value: current_user.id, class: 'form-control',
        :readonly => true %>
        <%= f.label :user_name %>
        <%= f.text_field :user_name, value: current_user.name, class: 'form-control',
        :readonly => true %>
        <%= f.label :phone %>
        <%= f.text_field :phone, value: current_user.phone, class: 'form-control',
        :readonly => true %>
         <%= f.label :time %>
        <%= f.select :time, options_for_select([['Time 1','Time 1'],['Time 2','Time 2'],['Time 3','Time 3'],
          ['Time 4','Time 4'],['Time 5','Time 5'],['Time 6','Time 6'],['Time 7','Time 7'],['Time 8','Time 8'],]) %>

         <%= f.label :date_order %>
         <%= f.text_field :date_order,  class: 'form-control input-group date datepicker'  %>

        <script type="text/javascript">
            $(function () {
                $('.datepicker').datepicker({
                   dateFormat : "yy MM dd",
                    // locale: 'ru'
                });
            });
        </script>

      </div>
    <%= f.submit "Order", class: "btn btn-primary" %>
  <% end %>
</div>
